.containerTop {
  width: 100%;
  height: 640px;
  background-image: url('/images/samozan1.png');
  background-size: cover; /* Растягивает изображение на всю ширину */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повторение */

}

.container {
    display: flex;
    position: relative;
  width: 100%;
  height: 640px;
  outline: 1px solid red;
}

.containerTopText {
  display: flex;
  flex-direction: column;
}

.container img {
    po
    width: 780px !important;
    height: 370px;
    bottom: 0;
}
