.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.containerEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 32%;
  color: #fff;
  height: 218px;
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
  backdrop-filter: blur(10px); /* Размытие */
  border-radius: 20px;
}

.number

@media (max-width: 768px) {
}
