.container {
  display: flex;
  width: 100%;
  padding: 35px;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.containerLeft span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 600;
}

.containerLeft span:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
}

.containerRight{
    display: flex;
    flex-direction: column;
}

.containerRight span:nth-of-type(1){
font-size: 14px;
}

.containerRight span:nth-of-type(){
    
}

.containerRight span:nth-of-type(){
    
}

.containerRight span:nth-of-type(){
    
}

.containerRight span:nth-of-type(){
    
}
