.container3{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFF;
  border-radius: 30px;
}

.container3 img:first-of-type{
  width: 373px;
  height: 289px;
  margin
}

@media (max-width: 768px) {
}
