.container3{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFF;
  border-radius: 30px;
}

.container3 img:first-of-type{
  width: 373px;
  height: 289px;
  margin-left: 137px;
}

.container3 img:nth-of-type(2){
  width: 626px;
  height: 417px;
}

@media (max-width: 768px) {

  .container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    background-color: #FFFF;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
  }
  
  .container3 img:first-of-type{
    width: 70%;
    height: 189px;
    margin-left: 17px;
  }
  
  .container3 img:nth-of-type(2){
    width: 80%;
    height: 217px;
  }

}
