.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin-top: 49px;
}

.containerTitle{
    width: 100%;
}

.containerTitle span{
    display: flex;
    text-align: center;
    width: 864px;
}


@media (max-width: 768px) {


}