.container100vh {
  background-color: #10072f;
  color: #fff;
}

.container {
  width: 100%;
  padding-top: 40px;
  border-bottom: 1px solid #fff;
  outline: 1px solid red;
}

.containerTop {
  display: flex;
  justify-content: space-between;
}

.containerTop span {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}


.containerTopNumber div:first-of-type {
  text-align: end;
}

.containerTopNumber {
  display: flex;
  flex-direction: column;
}
