.swiper {
  display: flex;
  position: relative;
  width: 100%;
  height: 456px;
  margin-top: 46px;

}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 416px; /* или любой другой размер */
  border-radius: 10px; /* Закругленные углы */
  overflow: hidden; /* Если изображения выходят за пределы */
}

.slide1{
  display: flex;
  width: 96%;
  gap: 58px;
  outline: 3px solid red;
}

.slide1Left{
  display: flex;
  flex-direction: column;
}

.slide1Left span:first-of-type{
  font-size: 36px;
  width: 461px;
  height: 88px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 58px;
  color: #3E3E3E;
}

.slide1Left span:nth-of-type(2){
  font-size: 22px;
  font-weight: 500;
  
}

.swiper-pagination {
  position: absolute;
  bottom: -20px; /* Сдвигаем точки ниже слайдера */
  left: 0;
  width: 100%;
  text-align: center;
  
}

