.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
}

.title span{
  font-size: 24px;
  font-weight: 600;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.containerCard{
  display: flex;
  position: relative;
  width: 558px;
  height: 330px;
}

.container


@media (max-width: 768px) {
}
