.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFF;
  margin-top: 50px;
  padding: 35px;
  margin-bottom: 40px;
  border-radius: 30px;
}

.containerNav a {
  font-size: 16px;
  color: red;
}

.containerNav span {
  font-size: 16px;
  color: black;
}

.containerNews{
  display: flex;
  position:relative;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  outline: 1px solid red;
}

.containerNews span:first-of-type{
  font-size: 28px;
  font-weight: 700;
}

.containerNews img{
  width: 300px;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
  }
}
