.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -20px;
  /* padding-left: 25px;
  padding-right: 25px; */
  gap: 10px;
}

.banner3 {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
}

.containerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding-left: 25px;
  padding-right: 25px; */
  margin-bottom: 30px;
  gap: 10px;
}

.one {
  width: 49%;
  height: 225px;
  border-radius: 20px;

  /* outline: 1px solid red; */
}

.two {
  width: 48%;
  height: 225px;
  border-radius: 20px;
}

.one img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* object-fit: contain; */
  /* outline: 1px solid red; */
}

.two img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* object-fit: contain; */
}

.container2 {
  width: 100%;
  /* padding: 0 25px; */
}

.containerPdf {
  padding: 20px 60px;
  height: 300px;
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  background-image: url(/images/banner_catalog.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 20px;
}

.containerPdf span:nth-of-type(1) {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  flex-wrap: wrap;
  width: 460px;
}

.containerPdf span:nth-of-type(2) {
  font-weight: 500;
}

.containerPdfBottom span {
  font-size: 16px !important;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 180px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #562211;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.container3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}

.container3 img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }

  .one {
    width: 100%;
    height: 143px;
    border-radius: 20px;
    /* outline: 1px solid red; */
  }

  .two {
    width: 100%;
    height: 143px;
    border-radius: 20px;
  }

  .one img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* object-fit: contain; */
    /* outline: 1px solid red; */
  }

  .two img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* object-fit: contain; */
  }

  .container2 {
    width: 100%;
    padding: 10px;
    margin-top: -40px;
    /* padding: 0 25px; */
  }

    .container3 {
      gap: 20px;
    }

  .containerPdf {
    padding: 20px;
    height: 200px;
    width: 100% !important;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(/images/banner_catalog.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .containerPdf span:nth-of-type(1) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    flex-wrap: wrap;
    width: 70%;
  }

  .containerPdf span:nth-of-type(2) {
    font-weight: 500;
  }

  .containerPdfBottom span {
    font-size: 14px !important;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttons button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
    font-size: 14px;
    background-color: #562211;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
}
