.back {
  margin-top: 80px;
  background-color: #e4dbd1 !important;
}

.container {
  background-color: #e4dbd1 !important;
  padding-bottom: 44px;
}

.containerTitle {
  font-size: 24px;
  font-weight: 600;
  color: #010101;
  margin-left: 106px;
  margin-top: 32px;
}

.containerBottom {
  display: flex;
  margin-top: 28px;
  /* outline: 1px solid red; */
}

.containerBottomLeft {
  display: flex;
  flex-direction: column;
  padding-left: 106px;
  gap: 25px;
  /* outline: 1px solid red; */
}

.containerBottomLeftTop {
  width: 362px;
  height: 215px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftCenter {
  width: 362px;
  height: 215px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftBottom {
  width: 362px;
  height: 144px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftTitle {
  display: flex;
  align-items: center;
  padding: 17px 18px 17px 28px;
  gap: 10px;
  border-bottom: 1px solid #000000;
}

.containerBottomLeftTitle img {
  height: 52px;
}

.containerBottomLeftTitle span {
  font-size: 18px;
  font-weight: 600;
}

.containerBottomLeftInfo {
  width: 100%;
  padding: 10px 28px 0 28px;
}

.containerBottomLeftInfoIp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 9px;
  /* outline: 1px solid red; */
}

.containerBottomLeftInfoIp span {
  font-size: 16px;
  font-weight: 500;
  color: #010101;
}

.border {
  border-bottom: 1px solid #000000;
}

.containerBottomRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 110px;
}

@media (max-width: 768px) {
  .back {
    margin-top: 80px;
    background-color: #e4dbd1 !important;
  }

  .container {
    background-color: #e4dbd1 !important;
    padding-bottom: 44px;
  }

  .containerTitle {
    font-size: 24px;
    font-weight: 600;
    color: #010101;
    margin-left: 106px;
    margin-top: 32px;
  }

  .containerBottom {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    /* outline: 1px solid red; */
  }

  .containerBottomLeft {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 25px;
    /* outline: 1px solid red; */
  }

  .containerBottomLeftTop {
    width: 362px;
    height: 215px;
    border-radius: 20px;
    background-color: #fefefe;
  }

  .containerBottomLeftCenter {
    width: 362px;
    height: 215px;
    border-radius: 20px;
    background-color: #fefefe;
  }

  .containerBottomLeftBottom {
    width: 362px;
    height: 144px;
    border-radius: 20px;
    background-color: #fefefe;
  }

  .containerBottomLeftTitle {
    display: flex;
    align-items: center;
    padding: 17px 18px 17px 28px;
    gap: 10px;
    border-bottom: 1px solid #000000;
  }

  .containerBottomLeftTitle img {
    height: 52px;
  }

  .containerBottomLeftTitle span {
    font-size: 18px;
    font-weight: 600;
  }

  .containerBottomLeftInfo {
    width: 100%;
    padding: 10px 28px 0 28px;
  }

  .containerBottomLeftInfoIp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 9px;
    /* outline: 1px solid red; */
  }

  .containerBottomLeftInfoIp span {
    font-size: 16px;
    font-weight: 500;
    color: #010101;
  }

  .border {
    border-bottom: 1px solid #000000;
  }

  .containerBottomRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 110px;
  }
}
