.container {
  background-color: #e4dbd1 !important;
  padding-bottom: 44px;
}

.containerTitle {
  font-size: 24px;
  font-weight: 600;
  color: #010101;
  margin-left: 106px;
  margin-top: 32px;
}

.containerBottom {
  display: flex;
  margin-top: 28px;
  outline: 1px solid red;
}

.containerBottomLeft {
  display: flex;
  flex-direction: column;
  padding-left: 106px;
  gap: 25px;
  outline: 1px solid red;
}

.containerBottomLeftTop {
  width: 362px;
  height: 215px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftCenter {
  width: 362px;
  height: 215px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftBottom {
  width: 362px;
  height: 144px;
  border-radius: 20px;
  background-color: #fefefe;
}

.containerBottomLeftTitle{
  display: flex;
  align-items: center;
  padding: 17px 18px 17px 28px;
  gap: 10px;
  outline: 1px solid red;
}

.containerBottomLeftTitle img{

  height: 52px;
}

.containerBottomLeftTitle span{
  font-size: 18px;
  font-weight: 600;
}

.containerBottomRight{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 110px;
}
