.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  gap: 17px;
  height: 147px;
  padding-left: 16px;
}

.tooltip img:first-of-type {
  position: absolute;
  width: 100%;
  height: 147px;
}

.tooltip img:nth-of-type(2) {
  width: 51px;
  height: 95px;
  margin-bottom: ;
  z-index: 1;
}

.tooltipInfo{
  width: 100%;
  z-index: 1;
}


