.back {
  width: 100%;
  background-color: #ffffff;
}

.containerGroup {
  width: 100%;
  padding: 50px;
}

.containerGroup input {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
}
