.back {
  width: 100%;
  background-color: #ffffff;
  margin-top: 50px;
}

.containerGroup {
  width: 100%;
  padding: 50px;
}

.containerGroup input {
  width: 100%;
  height: 50px;
  padding: 14px 60px 14px 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid #8692c3;
  color: #8692c3;
  outline: none;
}


.inputWrapper {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 50px;
  padding: 14px 60px 14px 32px; /* справа больше, чтобы не перекрывалось иконкой */
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid #8692c3;
  color: #8692c3;
  outline: none;
}

.searchInput::placeholder {
  color: #8692c3;
}

.searchIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #8692c3;
  font-size: 20px;
  pointer-events: none; /* чтобы не мешала клику по полю */
}

.searchInput::placeholder {
  color: #8692c3;
  font-weight: 500;
}

.containerGroupContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  gap: 35px;
}

.containerGroupContentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 376px;
  height: 460px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #8692c3;
}

.containerGroupContentCard img {
  width: 100%;
  height: 276px;
}

.containerGroupContentCard span:first-of-type {
  width: 80%;
  height: 79px; /* Убедитесь, что высота позволяет видеть несколько строк */
  font-size: 22px;
  font-weight: 600;
  overflow: hidden; /* Скрыть переполнение */
  display: -webkit-box; /* Используем flexbox для многострочного текста */
  -webkit-box-orient: vertical; /* Устанавливаем ориентацию на вертикальную */
  -webkit-line-clamp: 3; /* Ограничиваем количество видимых строк */
  text-overflow: ellipsis; /* Добавляем многоточие */
  /* outline: 1px solid red; */
}

.containerGroupContentCard span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .containerGroup {
    width: 100%;
    padding: 15px;
  }

  .containerGroupContentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 460px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #8692c3;
  }
}
