.title {
  display: flex;
  padding-left: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-top: 140px;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.containerEl{
  display: flex;
  flex-direction: column;
  padding: 32px 90px;
  width: 4%;
  background: rgba(255, 255, 255, 0.2); /* Прозрачность */
  backdrop-filter: blur(10px); /* Размытие */
}

@media (max-width: 768px) {
}
