.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 724px;
  height: 795px;
  background-color: #fff;
  border-radius: 30px;
  padding: 50px;
}

.containerTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.containerInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.containerInput input{
  border: none;
  border-bottom: ;
}
