.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 724px;
  height: 795px;
  background-color: #fff;
  border-radius: 30px;
  padding: 50px;
}

.containerTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.containerInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.containerInput input {
  border: none;
  border-bottom: 1px solid #787878;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.containerForm {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #787878;
}

.containerOrg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid red;
}

.containerOrgEl {
  display: flex;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 8px; /* Задаёт расстояние между чекбоксом и текстом */
}

.containerInn {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #787878;
  outline: none;
}

.commentInput {
  width: 100%;
  height: 91px;
  resize: none;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
}

.containerCheck{
  display: flex;
  align-items: start;
  width: 100%;
}
