.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 44px;
}

.container span:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 105px;
  background-color: #ef4136;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.container span:nth-of-type(2) {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 34px 100px 34px 100px;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

@media (max-width: 768px) {

  .container {

    width: 95%;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 44px;
    margin: 40px 10px 40px 10px ;
  }
  
  .container span:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 105px;
    background-color: #ef4136;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 30px
    border-radius: 20px 20px 0 0;
  }
  
  .container span:nth-of-type(2) {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 34px 100px 34px 100px;
    font-size: 20px;
    color: black;
    font-weight: 500;
  }

}
