.container{
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 44px;
}

.container span:nth-of-type(1){

}

.container span:nth-of-type(1){
  
}



@media (max-width: 768px) {
  
}
