.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.containerTitle {
  font-size: 24px;
  font-weight: 600;
}

.containerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

.containerBottomEl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 31%;
  gap: 32px;
}

.containerBottomEl img {
  height: 143px;
  width: 143px;
}

.containerBottomEl span {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 96%;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .containerTitle {
    width: 98%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }

  .containerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    gap: ;
  }

  .containerBottomEl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 31%;
    gap: 32px;
  }

  .containerBottomEl img {
    height: 143px;
    width: 143px;
  }
}
