.title {
  display: flex;
  padding-left: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.container {
  display: flex;
  width: 100%;
  gap: 50px;
}

.container img {
  width: 371px;
  height: 290px;
  border-radius: 280px;
}

.containerElText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.containerElText span {
  display: flex;
  align-items: center;
  gap: 12px;
}

.containerElText span img {
  width: 10px;
  height: 10px;
}

.containerElText span:nth-of-type(1) {
  font-size: 32px;
  font-weight: 600;
}

.containerElText span:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
  color: #8e54bb;
}

@media (max-width: 768px) {
  .title {
    display: flex;
    padding-left: 40px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 50px;
    margin: 10px;
  }

  .container img {
    width: 300px;
    height: 290px;
    border-radius: 280px;
    margin-top: 40px;
  }

  .containerElText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }

  .containerElText span {
    display: flex;
    gap: 12px;
  }

  .containerElText span img {
    width: 10px;
    height: 10px;
  }

  .containerElText span:nth-of-type(1) {
    font-size: 32px;
    font-weight: 600;
  }
}
