.title {
  display: flex;
  padding-left: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.container img{
  width: ;
}

.containerElText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.containerElText span {
  display: flex;
  align-items: center;
  gap: 12px;
}

.containerElText span img {
  width: 10px;
  height: 10px;
}

.containerElText span:nth-of-type(1) {
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 768px) {

  .title {
    display: flex;
    padding-left: 40px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .container {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
  }
  
  .containerEl {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.09); /* Прозрачность */
    backdrop-filter: blur(1px); /* Размытие */
    margin: 0;
    gap: 24px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  
  .containerEl span:nth-of-type(1) {
    display: flex;
    align-items: center;
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    gap: 6px;
  }
  
  .containerEl span:nth-of-type(2) {
  
    line-height: 23px;
  
  }
  
  .containerEl img {
    width: 10px;
    height: 10px;
  }

}
