.container2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0 30px 0;
  flex-wrap: wrap;
  align-items: center;
  color: black;
}

.container2Title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* outline: 1px solid red; */
}

.container2Title span {
  display: flex;
  text-align: center;
  width: 70%;
  font-size: 32px;
  font-weight: 600;
  /* outline: 1px solid red; */
}

.container2Bottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 55px;
  gap: 100px;
  /* outline: 1px solid red; */
}

.container2BottomCard {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  width: 40%;
  gap: 24px;
}

.container2BottomCard span:first-of-type {
  font-size: 64px;
  font-weight: 700;
  color: #ed5338;
  /* outline: 1px solid red; */
}

.container2BottomCard span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {

  .container2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0 30px 0;
    flex-wrap: wrap;
    color: black;
  }
  
  .container2Title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* outline: 1px solid red; */
  }
  
  .container2Title span {
    display: flex;
    text-align: center;
    width: 90%;
    font-size: 24px;
    font-weight: 600;
    /* outline: 1px solid red; */
  }
  
  .container2Bottom {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 15px;
    /* outline: 1px solid red; */
  }
  
  .container2BottomCard {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    gap: 4px;
  }
  
  .container2BottomCard span:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-weight: 700;
    color: #ed5338;
    outline: 1px solid red;
  }
  
  .container2BottomCard span:nth-of-type(2) {
    font-size: 14px;
    font-weight: 500;
  }

}
