.container2 {
  display: flex;
  width: 100%;
  padding: 30px 0 30px 0;
  flex-wrap: wrap;
  align-items: center;
}

.container2Title {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: ;
}

@media (max-width: 768px) {
}
