.containerPopular {
  width: 100%;
  flex-direction: column;
  display: flex;
  outline: 1px solid red;
}

.containerPopularTitle{
  font-size: 36px;
}


.containerPopularCard{
  display: flex;
  flex-direction: column;
}