.containerPopular {
  width: 100%;
  flex-direction: column;
  display: flex;
  outline: 1px solid red;
}

.containerPopularTitle{
  font-size: 36px;
  font-weight: 600;
}

.containerPopularContent{
  display: flex;
}


.containerPopularContentCard{
  display: flex;
  flex-direction: column;
  width: 353px;
  height: 243px;
  overflow: hidden;
  outline: 1px solid red;
}