.container7 {
  width: 100%;
}

.container7Title{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.container7Title span{
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  outline: 1px solid red;
}

.container7Card{
  display: flex;
  flex-direction: column;
  width: 258px;
  height: 476px;
  background-color: none;
  border-radius: 10px;
  transition: all 0.3s o;
}



@media (max-width: 768px) {
}
