.container {
  width: 100%;
  margin-top: 36px;
}

.containerTitle {
  padding: 0 123px 0 123px;
}

.containerTitle span {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  /* outline: 1px solid red; */
  /* justify-content: center; */
}

.containerBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: 40px;
}

.containerBlockEl {
  width: 48%;
  height: 858px;
  background-color: #fff;
  border-radius: 20px;
  padding: 23px 31px 23px 31px;
}

.containerBlockEl span:nth

@media (max-width: 768px) {
}
