.container{
  width: 100%;
  margin-top: 36px;
}

.containerTitle{
  padding: 0 73px 0 73px;
}

.containerTitle span{
  width: 100%;
  font-size: 20px;
  font-weight: ;
}

@media (max-width: 768px) {



}
