.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 71px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffffff;
  /* outline: 3px solid red; */
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  /* outline: 3px solid red; */
}

.containerLeftLogo img {
  width: 165px;
  height: 41px;
}

.containerLeft button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 35px;
  border-radius: 20px;
  border: none;
  gap: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: #ed5338;
}

.containerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* outline: 3px solid red; */
}

.containerRight img:first-of-type {
  width: 20px;
  height: 20px;
}

.containerRight img:nth-of-type(2) {
  width: 22px;
  height: 19px;
}

.containerRight img:nth-of-type(3) {
  width: 27px;
  height: 15px;
}

.containerRight span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  background-color: #e6cbb0;
  border-radius: 20px;
  border: none;
}

.modalBox {
  position: fixed;
  top: 235px;
  left: 750px;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 250px;
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalOverlay {

      position: absolute,
      transform: translateY(20px,
      width: 250px,
      maxHeight: 300px,

}


.modalNav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 274px;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.modalNav li a {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}


@media (max-width: 768px) {
  .container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 71px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    /* outline: 3px solid red; */
  }

  .containerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* outline: 3px solid red; */
  }

  .containerLeftLogo img {
    width: 165px;
    height: 41px;
  }

  .containerLeft button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 35px;
    border-radius: 20px;
    border: none;
    gap: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: #ed5338;
  }

  .containerRight {
    display: none;
  }

  .modal {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 80px;
    left:130px;
    width: 250px;
    height: 274px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
