.container {
    display: flex;
    width: 100% !important;
    gap: 20px;
}

.containerEl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 20px;
    width: 270px;
    height: 264;
}

.containerEl img{
    width: 80px;
    height: 148px;
}