.container {
    display: flex;
    width: 100% !important;
    gap: 20px;
}

.containerEl {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 20px;
}

.containerEl img{
    width: 100px;
}