.container {
  width: 100%;
  margin-top: 66px;
}

.containerTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerTitle span{
  font-size: 24px;
  font-weight: 600;
}

.containerBlock{
  display: flex;
  margin-top: 40px;
  gap: 49px;
}

.containerBlockEl1{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 313px;
  height: 406px;
  padding: 0 15px 0 15px;
  border: 1px solid #F15043;
  border-radius: 20px;
}

.containerBlockEl1 img{
  width: 120px;
  height: 120px;
  margin-top: 60px;
}

.containerBlockEl1 span:nth-of-type(1){
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
}

.containerBlockEl1 span:nth-of-type(2){
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
}

.containerBlockEl2 img{
  width: 120px;
  height: 120px;
  margin-top: 60px;
}

.containerBlockEl2 span:nth-of-type(1){
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
}

.containerBlockEl1 span:nth-of-type(2){
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
}

.containerBlockEl3{
  width: 313px;
}

@media (max-width: 768px) {
 
}
