.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 30px;
}

.title span {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.title button {
  width: 164px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #c39367;
  color: #fff;
  transition: all ease-out 0.2s;
}

.title button:hover {
  background-color: #ed5338;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 39px;
  /* outline: 1px solid red; */
  padding-left: 25px;
  padding-right: 25px;
}

.containerCard {
  display: flex;
  flex-direction: column;
  width: 390px;
  outline: 1px solid red;
}

.containerCard img:first-of-type {
  display: flex;
  width: 100%;
  height: 213px;
}

.containerCard span:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #ed5338;
  margin-top: 16px;
  padding: 5px 10px 5px 10px;
}

.containerCard span:nth-of-type(2){
font-size: 
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
  }
}
