.container {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  z-index: 111;
  padding: 0 35px;
  gap: 140px;
}

.containerEl {
  display: flex;
  height: 475px;
  width: 100%;
  gap: 110px;
  color: #fff;
}

.containerElLogo {
  display: flex;
  width: 626px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
}

.containerElText{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.

@media (max-width: 768px) {
}
