.container {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  z-index: 111;
  padding: 0 35px;
  gap: 140px;
}

.containerEl {
  display: flex;
  height: 425px;
  width: 100%;
  gap: 80px;
  color: #fff;
}

.containerElLogo {
  display: flex;
  width: 926px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
}

.containerElLogo img {
  width: 70%;
}

.containerElText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.containerElText span {
  display: flex;
  align-items: center;
  gap: 12px;
}

.containerElText span img {
  width: 10px;
  height: 10px;
}

.containerElText span:nth-of-type(1) {
  font-size: 32px;
  font-weight: 600;
}

.containerElText button {
  width: 324px;
  height: 50px;
  border-radius: 30px;
  background-color: #8e54bb;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.containerMobil{
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 137px;
    z-index: 111;
    padding: 0 35px;
    gap: 140px;
  }

  .containerEl {
    display: flex;
    flex-direction: column;
    height: 425px;
    width: 100%;
    gap: 80px;
    color: #fff;
  }

  .containerEl:nth-of-type(2) {
    display: flex;
  }

  .containerElLogo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
  }

  .containerElLogo img {
    width: 70%;
  }

  .containerElText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .containerElText span {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .containerElText span img {
    width: 10px;
    height: 10px;
  }

  .containerElText span:nth-of-type(1) {
    display: flex;
    font-size: 22px;
    font-weight: 600;
  }

  .containerElText button {
    width: 324px;
    height: 50px;
    border-radius: 30px;
    background-color: #8e54bb;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
