.container{
  margin-top: 137px;
  z-index: 111;
  padding: 0 75px;
}

.containerEl{
  height: 475px;
  width: 100%;
}

.containerElLogo{
  display: flex;
  width: 626px;
  height: 100%;
align-items: center;
justify-content: center;
background-color: ;
}

@media (max-width: 768px) {

}
