.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.container {
    display: flex;
    fle
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
  }
}
