.container {
  position: relative;
}

.pink {
  position: absolute;
  top: 30px;
  opacity: 0.5;
}

.containerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  color: #fff;
  width: 100%;
  gap: 71px;
  z-index: 11;
}

.containerTopLogo {
  display: flex;
  gap: 178px;
}

.containerText {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 0 230px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.containerBottom {
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
  gap: 32px;
  z-index: 11;
}

.containerBottomEl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 511px;
  border-radius: 20px;
  height: 218px;
  background: rgba(255, 255, 255, 0.06); /* Прозрачность */
  backdrop-filter: blur(20px); /* Размытие */
  font-size: 20px;
  font-weight: 500;
  padding: 28px 0;
}

.number {
  font-size: 80px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .containerTop {
    margin-top: 15px;
    color: #fff;
    width: 95%;
    margin: 10px;
    gap: 71px;
  }

  .containerTopLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .containerTopLogo img {
    width: 48%;
  }

  .containerText {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  .containerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 95%;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }

  .containerBottomEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    height: 118px;
    background: rgba(255, 255, 255, 0.06); /* Прозрачность */
    backdrop-filter: blur(20px); /* Размытие */
    font-size: 20px;
    font-weight: 500;
    padding: 28px 0;
  }

  .number {
    font-size: 30px;
    font-weight: 700;
  }
}
