.containerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  color: #fff;
  width: 100%;
  gap: 71px;
}

.containerTopLogo {
  display: flex;
  gap: 178px;
}

.containerText{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0 260px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}