.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title span {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.title button {
  width: 164px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #c39367;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.title button:hover {
  background-color: #ed5338;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 39px 0;
}

.containerCard {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 31%;
  height: 251px;
  border-radius: 20px;
  background-color: #fefefe;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.containerCard img:first-of-type {
  display: flex;
  width: 100px;
  height: 104px;
  margin: 20px;
  z-index: 1;
}

.containerCard img:nth-of-type(2) {
  display: flex;
  position: absolute;
  right: 0;
  height: 97%;
}

.containerCard img:nth-of-type(3) {
  display: flex;
  position: absolute;
  width: 270px;
  height: 110%;
  left: -280px;
  transition: all ease-out 0.4s;
}

.containerCard:hover img:nth-of-type(3) {
  left: 0px;
}

.containerCard:hover .containerCardBottom span:first-of-type {
  color: white;
}

.containerCardBottom {
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  position: relative;
}

.containerCardBottom span:first-of-type {
  font-size: 20px;
  font-weight: 600;
  color: #562211;
  margin-left: 20px;
  margin-right: 20px;
  height: 96px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerCardBottom span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin-right: 44px;
  border-radius: 50px;
}

.containerCardBottom img {
  width: 66px !important;
  height: 64px !important;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

@media (max-width: 768px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    /* margin-top: 20px; */
    padding: 10px;
  }

  .title span {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }

  .title button {
    width: 164px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #c39367;
    color: #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .title button:hover {
    background-color: #ed5338;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 39px 0;
  }

  .containerCard {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 31%;
    height: 251px;
    border-radius: 20px;
    background-color: #fefefe;
    overflow: hidden;
    transition: all ease-out 0.2s;
  }

  .containerCard img:first-of-type {
    display: flex;
    width: 100px;
    height: 104px;
    margin: 20px;
    z-index: 1;
  }

  .containerCard img:nth-of-type(2) {
    display: flex;
    position: absolute;
    right: 0;
    height: 97%;
  }

  .containerCard img:nth-of-type(3) {
    display: flex;
    position: absolute;
    width: 270px;
    height: 110%;
    left: -280px;
    transition: all ease-out 0.4s;
  }

  .containerCard:hover img:nth-of-type(3) {
    left: 0px;
  }

  .containerCard:hover .containerCardBottom span:first-of-type {
    color: white;
  }

  .containerCardBottom {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    position: relative;
  }

  .containerCardBottom span:first-of-type {
    font-size: 20px;
    font-weight: 600;
    color: #562211;
    margin-left: 20px;
    margin-right: 20px;
    height: 96px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .containerCardBottom span:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-right: 44px;
    border-radius: 50px;
  }

  .containerCardBottom img {
    width: 66px !important;
    height: 64px !important;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
}
