.swiper {
    display: flex;
    position: relative;
    width: 100%;
    height: 456px;
    margin-top: 46px;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px; /* или любой другой размер */
    border-radius: 10px; /* Закругленные углы */
    overflow: hidden; /* Если изображения выходят за пределы */
  }
  
  .slide1 {
    display: flex;
    width: 96%;
    gap: 58px;
    border-radius: 30px;
    background-color: #fefefe;
  }
  
  .slide1 img {
    border-radius: 30px;
  }
  
  .slide1Left {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 48px 0;
    flex-direction: column;
  }
  
  .slide1Left span:first-of-type {
    font-size: 36px;
    width: 571px;
    font-weight: 700;
    line-height: 44px;
    color: #3e3e3e;
  }
  
  .slide1Left span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
    width: 501px;
    line-height: 22px;
  }
  
  .slide1Left button {
    width: 177px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #ed5338;
    color: #ffffff;
    cursor: pointer;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: -20px; /* Сдвигаем точки ниже слайдера */
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .swiper {
      display: flex;
      position: relative;
      width: 100%;
      height: 406px;
      margin-top: 0;
    }
  
    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 406px; /* или любой другой размер */
      border-radius: 10px; /* Закругленные углы */
      overflow: hidden; /* Если изображения выходят за пределы */
  
    }
  
    .slide1 {
      display: flex;
      width: 96%;
      height: 400px;
      border-radius: 30px;
      padding: 10px 0 10px 0;
      background-color: #fefefe;
    
  
    }
  
    .slide1 img {
      display: none;
    }

  
    .swiper-pagination {
      position: absolute;
      bottom: -20px; /* Сдвигаем точки ниже слайдера */
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
  