.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.containerTitle {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}

.containerBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 18px;
}

.containerCard {
  width: 366px;
  height: 251px;
  background-color: #fff;
  border-radius: 20px;
  padding: 31px 40px 31px 40px;
}

.containerCard

@media (max-width: 768px) {
}
