.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.containerTitle {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}

.containerBlock{
  display: flex;
  
  width: 100%;
}

@media (max-width: 768px) {
}
